<h3>Create a Link</h1>

<%= form_for :link do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Create Link" %>
<% end %>

<h3>All the Links</h1>

<% @links.each do |link| %>
<ul id="link-<%=link.id%>"><%= link.title %>
  <li>Url: <%= link.url %></li>
  <li>Read? <%= link.read %></li>
</ul>
<% end %>
